{% load static %}
<section class="footer">
  <div class="card-body text-white">
    <div class="container-fluid text-end">
      <div class="row">
        <div class="col-md-4">
          <h3 class="footertitle">سيبراني</h3>
          <p class="text-muted text-justify">
            منصة تقدم حلول مبتكرة وفعالة لمساعدة الشركات في استقطاب رأس المال البشري السيبراني المناسب، وذلك من خلال
            منظومة متكاملة تستخدم تقنيات الذكاء الاصطناعي لتحليل المتقدمين للوظيفة واختيار الأنسب للشركة ، وإعطاء
            نصائح واقتراحات للمرفوضين من الوظيفة.

          </p>

        </div>
        <div class="col-md-4 text-center">
          <div class="social-mun ">
            <h4 class="footertitle pb-2 ">تابعنا على مواقع التواصل الاجتماعي</h4>
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
          <h6 class="footertitle pt-5 text-muted">جميع الحقوق محفوظه &copy;Cyberni 2023</h6>
        </div>
        <div class="col-md-4">
          <h4 class="footertitle ">النشرة البريدية</h4>
          <p class="text-muted ">اشترك لتصلك مقالات اسبوعية من سيراني</p>
          <input type="text" class="form-control w-75" id="email" placeholder="Cyberni@Cyberni.com" name="email">
          <p class="text-muted"><small>لن نستخدم بريدك خارج نطاق النشرة إطلاقًا</small></p>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>