{% extends 'base.html' %}
{% load static %}

{% block title %}<title>home</title>{% endblock title %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock extrahead %}

{% block content %}

{% comment %}
<!-------------- banner  -----------> {% endcomment %}
<section id="banner">
  <div class="container ">
    <div class="row">
      <div class="col-md-6">
        <p class="promo-title">لنجعل النهاية جميلة كما البداية</p>
        <p class="text-muted">سيراني | من نحن </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="{% static 'image/logo.png' %}" class="img-fluid bannerimg">
      </div>
    </div>
  </div>
  <!----------- waves ---------->
  <div id="waves">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffff" fill-opacity="1"
        d="M0,128L40,112C80,96,160,64,240,69.3C320,75,400,117,480,112C560,107,640,53,720,42.7C800,32,880,64,960,90.7C1040,117,1120,139,1200,138.7C1280,139,1360,117,1400,106.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
      </path>
    </svg>
  </div>
</section>
{% comment %}
<!------About us-------> {% endcomment %}
<section>
  <div class="big-about text-right">
    <div class="container">
      <div class="big-data col-md-12">
        <h2 class="">نبذة عننا</h2>
        <p><strong> سيبراني </strong></p>
        <p>
          منصة تقدم حلول مبتكرة وفعالة لمساعدة الشركات في استقطاب رأس المال البشري السيبراني المناسب، وذلك من خلال
          منظومة متكاملة تستخدم تقنيات الذكاء الاصطناعي لتحليل المتقدمين للوظيفة واختيار الأنسب للشركة ، وإعطاء نصائح
          واقتراحات للمرفوضين من الوظيفة.

        </p>
      </div>
      <div class="big-img col-md-12 ">
        <div class="row">
          <div class="b-in col-md-6 ">
            <div class="in-img">
              <h3>رؤيتنا</h3>
              <P>
                منصة تقدم حلول مبتكرة وفعالة لمساعدة الشركات في استقطاب رأس المال البشري السيبراني المناسب، وذلك من خلال
                منظومة متكاملة تستخدم تقنيات الذكاء الاصطناعي لتحليل المتقدمين للوظيفة واختيار الأنسب للشركة ، وإعطاء
                نصائح واقتراحات للمرفوضين من الوظيفة.

              </P>
            </div>
          </div>
          <div class="b-in col-md-6 ">
            <div class="in-img">
              <h3>مهمتنا</h3>
              <p>منصة تقدم حلول مبتكرة وفعالة لمساعدة الشركات في استقطاب رأس المال البشري السيبراني المناسب، وذلك من
                خلال منظومة متكاملة تستخدم تقنيات الذكاء الاصطناعي لتحليل المتقدمين للوظيفة واختيار الأنسب للشركة ،
                وإعطاء نصائح واقتراحات للمرفوضين من الوظيفة.
              </p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 text-right ">
            <h3> :أهدافنا</h3>
            <ul class="list-unstyled">
              <li>1</li>
              <li> 2</li>
              <li>3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="our-services">
  <div class="container">
    <div class="desc">
      <div class="heading">
        <h1> الفريق </h1>
      </div>
      <div class="text">
        <p>
          فريق سيبراني
          2023
        </p>
      </div>
    </div>
    <div class="services">

      <div class="column" id="column-1">

        <div class="service">
          <div class="service-desc">

            <p class="service-txt">
              البراء

            </p>
          </div>
        </div>


        <div class="service">
          <div class="service-desc">

            <p class="service-txt">
              محمد
            </p>
          </div>
        </div>



      </div>

      <div class="column" id="column-2">

        <div class="service">
          <div class="service-desc">

            <p class="service-txt">
              يوسف
            </p>
          </div>
        </div>

        <div class="service">
          <div class="service-desc">

            <p class="service-txt">
              غادة
            </p>
          </div>
        </div>


        <div class="service">
          <div class="service-desc">

            <p class="service-txt">
              دانة
            </p>
          </div>

        </div>



      </div>


    </div>
    <div class="clear-fix"></div>
  </div>
</section>
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock scripts %}